@font-face {
    font-family: "Arno Pro";
    src: url("./font/arno_pro_reg.ttf") format("truetype");
}

.topimg {
    position: relative;
    text-align: center;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0))
}

.imgcorner-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 48px;
    font-family: "Arno Pro";
}

.topimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topnav {
    position: sticky;
    top: 0;
    overflow: visible;
    height: 48px;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover, .dropdown:hover .dropdown-btn {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-btn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: 18px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 30px;
    margin-left: 8px;
}