@font-face {
    font-family: "Arno Pro";
    src: url("./font/arno_pro_reg.ttf") format("truetype");
}

.topimg {
    background-color: white;
    position: relative;
    text-align: left;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0)), url("img/topimg.png"), url("img/topbg.png");
    background-position: left top 30%;
    background-repeat: no-repeat, no-repeat, repeat;
}

.imgcorner-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 48px;
    font-family: "Arno Pro";
}

.topimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.topnav {
    position: sticky;
    top: 0;
    overflow: visible;
    height: 48px;
    background-color: #333;
    z-index: 1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover, .dropdown:hover .dropdown-btn {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-btn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: 18px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.infobox {
    width: 75%;

    min-height: 100px;
    overflow: hidden;

    margin: 20px auto;

    border-radius: 10px;
    background-color: whitesmoke;
    filter: drop-shadow(0 0 15px);
    padding: 20px;

    display: block;
}

.infobox img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: contain;
}
.infobox figure {
    display: inline-block;
    margin: 1%;
    border: 2px silver solid;
    inline-size: fit-content;
    padding: 5px;
    object-fit: none;
}
.infobox figcaption {
    background-color: #222222;
    color: white;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 14px;
    contain: inline-size;
    margin-block-start: .5em;
    padding: 3px 3px;
    text-align: center;
}

.vid-container video
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-image: url("img/tilebg.png");
    background-size: 237px 228px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Georgia, serif;
    margin-top: 0;
}
p {
    font-family: Georgia, serif;
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 24px;
    margin-left: 8px;
    margin-right: 8px;
}
ul {
    font-family: Georgia, serif;
    font-size: 24px;
    margin-left: 4em;
}
